.hw-httpCats__title {
    font-size: 64px;
    padding-bottom: 16px    ;
}

.hw-httpCats__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}